<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.59.0.0" targetFramework="native" />
  <package id="boost_regex-vc120" version="1.59.0.0" targetFramework="native" />
  <package id="cppunit" version="1.12.1.4" targetFramework="Native" />
  <package id="ROOT" version="534.34.12" targetFramework="native" />
</packages>