<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.56.0.0" targetFramework="Native" />
  <package id="boost_regex-vc120" version="1.56.0.0" targetFramework="Native" />
  <package id="cppunit" version="1.12.1.2" targetFramework="Native" />
  <package id="ROOT_5_34_19" version="01.00.01" targetFramework="Native" />
</packages>